<h3>Select a stop</h3>

{{#this}}
  <div class="stop row" id="{{stop_code}}">
    <small>
    <a href="stops/{{stop_code}}">
      {{stop_code}}
      <small>{{stop_name}}</small>
    </a>
    </small>
  </div>
{{/this}}

