.jumbotron
  .row
    #search.input-group.col-lg-8.col-md-offset-2
      %input.form-control.input-lg{type:'text', placeholder:'Enter location'}
      .input-group-btn.hidden-xs
        %button.btn.btn-primary.input-lg
          Find nearby stops

  #stops.container-fluid

= javascript_include_tag 'home'
