.hero-unit
  #search.input-append
    %input.span8{type:'text', placeholder:'Enter location'}
    %button.btn.btn-primary.hidden-phone
      Find bus stop

  #stops.container-fluid

= javascript_include_tag 'home'
