// Place all the styles related to the stop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map { height: 500px; }

.vehicle_map_text {
  background-color: white;
  padding: 2px 3px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}
